<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<body class='bg-light'>
    <div class="col-md-12 order-md-1 margin=50px">
        <form action="vote" method="post">
            {% csrf_token %}
            <div class='py-5 text-center'>
            <h2>Иструкция к тесту</h2>

            <p class='lead'>Вам предлагается ряд вопросов, которые помогут определить некоторые свойства Вашей личности. Здесь не может быть ответов «правильных» или «ошибочных». Люди различны, и каждый может высказать свое мнение.</p>
                
            <p class='lead'>Отвечая на каждый вопрос, Вы должны выбрать один из трех предлагаемых ответов – тот, который в наибольшей степени соответствует Вашим взглядам, Вашему мнению о себе.</p>
                
            <p class='lead'>Если Вам что-нибудь не ясно, спросите экспериментатора. Отвечая на вопросы, все время помните:</p>
                
            <p class='lead'>Не нужно тратить много времени на обдумывание ответов. Давайте тот ответ, который первым придет Вам в голову. Конечно, вопросы часто будут сформулированы не так подробно, как Вам хотелось бы. В таком случае старайтесь представить себе «среднюю», наиболее частую ситуацию, которая соответствует смыслу вопроса и, исходя из этого, выбирайте ответ. Отвечать надо как можно точнее, но не слишком медленно.
                Старайтесь не прибегать к промежуточным, неопределенным ответам (типа «не знаю», «нечто среднее» и т. п. ) слишком часто.
                Обязательно отвечайте на все вопросы подряд, ничего не пропуская. Возможно, некоторые вопросы покажутся Вам не очень точно сформулированными, но и тогда постарайтесь найти наиболее точный ответ. Некоторые вопросы могут показаться Вам личными, но Вы можете быть уверены в том, что ответы не будут разглашены. Ответы могут быть расшифрованы только с помощью специального «ключа», который находится у экспериментатора. Причем ответы на каждый отдельный вопрос вообще не будут рассматриваться. Нас интересуют только обобщенные показатели
                Не старайтесь произвести хорошее впечатление своими ответами, они должны соответствовать действительности. В этом случае Вы сможете лучше узнать себя и очень поможете нам в нашей работе. Заранее благодарим Вас за помощь в отработке методики.<p>
            </div>        
            <fieldset>
                {% for question in question_list %}
                    <h4 class="mb-3">{{ question.question_text }}</h4>
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    <div class="d-block my-3">
                        {% for choice in question.choice_set.all %}
                            <div class="custom-control custom-radio margin-auto">
                                <input type="radio" class="custom-control-input" name="{{ question.id }}" id="choice{{ forloop.counter }}" value="{{ choice.key }}">
                                <label class="custom-control-label" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </fieldset>
            <input type="submit" value="Отправить">
        </form>
    </div>
</body>